[submodule "Hardware/PendulumController/Libraries/kenwoodfox-kicad-libraries"]
	path = Hardware/PendulumController/Libraries/kenwoodfox-kicad-libraries
	url = https://github.com/KenwoodFox/kenwoodfox-kicad-libraries.git
